/* * {
  border: 1px solid;
} */

body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Makes sure the body takes the full height of the viewport */
  margin: 0; /* Removes default margin */
}

.square-div {
  border: 1px solid;
  box-sizing: border-box;
  flex: 0 0 calc(100% / 16);
  aspect-ratio: 1 / 1; /* Ensures the height equals the width */
}

#grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  padding: 0;
}
